<TEI xmlns="http://www.tei-c.org/ns/1.0">
      <teiHeader>
      <fileDesc>
         <titleStmt>
            <title level="s">Austrian Baroque Corpus</title>
            <title level="a">Register der Orte</title>
            <respStmt>
                <resp xml:lang="de">herausgegeben von</resp>
                <name>Ulrike Czeitschner</name>
                <name>Claudia Resch</name>
            </respStmt>
            <respStmt>
                <resp xml:lang="de">unter Mitarbeit von</resp>
                <name>Barbara Krautgartner</name>
                <name>Eva Wohlfarter</name>
            </respStmt>
         </titleStmt>
         <editionStmt>
            <edition>Vollständig digitalisierte Ausgabe <date when="2015">2015</date>
            </edition>
            <funder>Institut für Corpuslinguistik und Texttechnologie</funder>
            <funder>Jubiläumsfonds der Österreichischen Nationalbank</funder>
        </editionStmt>
         <publicationStmt>
            <publisher>Austrian Centre for Digital Humanities and Cultural Heritage, Österreichische Akademie der Wissenschaften</publisher>
            <pubPlace>Wien</pubPlace>
            <date when="2025">2025</date>
            <availability>
               <licence target="http://creativecommons.org/licenses/by-nc/3.0/">
               </licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Im Austrian Baroque Corpus erwähnte Orte</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <div type="index_places">
            <listPlace xml:id="listplace">
            {% for g in groups %}
               <listPlace type="{{ g.type }}">
               {% for x in g.objects %}
                  <place xml:id="{{ x.key2 }}" {% if x.type %}type="{{ x.type }}"{% endif %}>
                     <placeName type="main" key ="{{ x.key }}">{{ x.lemma }}</placeName>
                     {% for y in x.variations %}
                     <placeName type="variation">{{ y }}</placeName> 
                     {% endfor %}                
                     <noteGrp>
                     {% for z in x.files %}
                        <note type="mentions" target="{{z.file}}" n="{{ z.count }}">{{ z.count }} {% if z.count == 1 %}Erwähnung{% else %}Erwähnungen{% endif %} in der Datei {{z.file}}</note>
                        {% endfor %}
                        <note type="mentions" n="{{x.totalcount}}">{{x.totalcount}} Erwähnungen gesamt</note>
                     </noteGrp>
                  </place>
               {% endfor %}
               </listPlace>
            {% endfor %}
            </listPlace>
         </div>
      </body>
   </text>
</TEI>
