<TEI xmlns="http://www.tei-c.org/ns/1.0">
      <teiHeader>
    <fileDesc>
        <titleStmt>
            <title>Register der Ortsnamen</title>
            <respStmt>
                <resp xml:lang="de">herausgegeben von</resp>
                <name>Ulrike Czeitschner</name>
                <name>Claudia Resch</name>
            </respStmt>
            <respStmt>
                <resp xml:lang="de">unter Mitarbeit von</resp>
                <name>Barbara Krautgartner</name>
                <name>Eva Wohlfarter</name>
            </respStmt>
        </titleStmt>
        <editionStmt>
            <edition>Vollständig digitalisierte Ausgabe <date when="2015">2015</date>
            </edition>
            <funder>Institut für Corpuslinguistik und Texttechnologie</funder>
            <funder>Jubiläumsfonds der Österreichischen Nationalbank</funder>
        </editionStmt>
        <publicationStmt>
            <publisher>Austrian Centre for Digital Humanities, Österreichische Akademie der Wissenschaften</publisher>
            <address>
                <addrLine>Sonnenfelsgasse 19</addrLine>
                <addrLine>1010 Wien</addrLine>
            </address>
            <pubPlace>Wien</pubPlace>
            <date when="2015">2015</date>
            <availability status="free">
                <licence target="https://creativecommons.org/licenses/by-nc-sa/4.0/"/>
            </availability>
            <idno type="cr-xq-mets">abacus.9</idno>
        </publicationStmt>
        <notesStmt>
            <note/>
        </notesStmt>
        <sourceDesc>
            <msDesc>
                <msIdentifier>
                    <settlement>Wien</settlement>
                    <institution>Österreichische Nationalbibliothek</institution>
                    <repository>Österreichische Nationalbibliothek</repository>
                    <collection>Sammlung von Handschriften und alten Drucken</collection>
                    <idno type="signatory">484.862-A Alt</idno>
                </msIdentifier>
            </msDesc>
        </sourceDesc>
    </fileDesc>
    <encodingDesc>
        <projectDesc>
            <p>bearbeitet im Rahmen des Projekts "Texttechnologische Methoden zur Analyse österreichischer Barockliteratur", 
                gefördert vom Jubiläumsfonds der Österreichischen Nationalbank (Nr. 14738)</p>
        </projectDesc>
    </encodingDesc>
    <profileDesc>
        <langUsage>
            <language ident="de" usage="98"/>
            <language ident="la" usage="2"/>
        </langUsage>
        <textClass>
            <keywords>
                <list>
                    <item>Erbauungsliteratur</item>
                    <item>Älteres Neuhochdeutsch</item>
                </list>
            </keywords>
        </textClass>
    </profileDesc>
</teiHeader>
   <text>
      <body>
         <div type="index_places">
            <listPlace xml:id="listplace">
            {% for g in groups %}
               <listPlace type="{{ g.type }}">
               {% for x in g.objects %}
                  <place xml:id="{{ x.key2 }}" {% if x.type %}type="{{ x.type }}"{% endif %}>
                     <placeName type="main" key="{{ x.key }}">{{ x.lemma }}</placeName>
                     {% for y in x.variations %}
                     <placeName type="variation">{{ y }}</placeName> 
                     {% endfor %}                
                     <noteGrp>
                     {% for z in x.files %}
                        <note type="mentions" target="{{z.file}}" n="{{ z.count }}">{{ z.count }} {% if z.count == 1 %}Erwähnung{% else %}Erwähnungen{% endif %} in der Datei {{z.file}}</note>
                        {% endfor %}
                        <note type="mentions" n="{{x.totalcount}}">{{x.totalcount}} Erwähnungen gesamt</note>
                     </noteGrp>
                  </place>
               {% endfor %}
               </listPlace>
            {% endfor %}
            </listPlace>
         </div>
      </body>
   </text>
</TEI>
